.choose img{
        width:35px;
        height:35px;
        border:1px solid gray;
        border-radius: 30px;
}
.choose h2{
    font-size: medium;
}
.choose-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose{
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 10px;
}