.heading{
    text-align: center;
    color: orange;
    font-weight: bold;
   
}
.Choose-item{
    text-align: center;
   padding: 20px;
    font-weight: bold;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.pizzas-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.cart-pizzas-container{
    margin-left: 10px;
    border:2px solid gray;
    background-color: gray;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 10px 10px 10px rgb(233, 225, 225);
    height: 350px;
    padding: 10px;
    position: sticky;
    top:0;
}
.btn-choose{
    width: 100%;
    background-color: rgb(248, 195, 96);
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
  
}
.btn-choose-again{
    width: 100%;
    background-color: rgb(248, 195, 96);
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  
}
.btn-choose:hover{
    background-color: orange;
   
}
.btn-choose-again:hover{
    background-color: rgb(120, 240, 90);
   
}

/* responsive for mobile */
@media only screen and (max-width: 767px) {
  .pizzas-container{
      grid-template-columns: repeat(1,1fr);
  }
  }
  /* responsive for desktop */
  @media only screen and (min-width: 1024px) {
    .pizzas-container{
        grid-template-columns: repeat(3,1fr);
    }
  }